doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#000000')
    title Contrast '17
    link(rel="stylesheet", href="assets/css/styles.css")
  body
    include assets/img/logo.svg
    h1 contrast '17
    h2 cipher's new wave
    a(href="https://")
      button join us
      
    .center(id="a")  
      p design
    
    .center(id="b")
      p community
    
    .center(id="c")
      p iteration
    
    .center(id="d")
      p creative
