@import url(fonts.css);
* {
  font-family: 'gothamRdMedium';
  z-index: 3; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden; }

button {
  height: 40px;
  width: 140px;
  font-size: 16px;
  background: none;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 300ms 50ms; }
  button:hover {
    color: black;
    background: white;
    transition: all ease-in-out 300ms; }

svg {
  height: 300px;
  width: 300px; }

h1 {
  margin-bottom: 10px;
  font-size: 48px; }

h2 {
  margin-top: 0; }

p {
  position: absolute;
  color: black;
  font-size: 36px;
  padding: 15px;
  z-index: 1;
  transition: all ease-in-out 150ms 100ms; }
  p:hover {
    color: white;
    transition: all ease-in-out 150ms; }

#a {
  top: 4%;
  right: 10%; }

#b {
  bottom: 10%;
  left: 5%; }

#c {
  bottom: 20%;
  right: 4%; }

#d {
  top: 20%;
  left: 20%; }

#e {
  bottom: 1%;
  left: 50%; }
