@import url(fonts.css);
* {
  font-family: 'gothamRdMedium';
  z-index: 3; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden; }

button {
  height: 40px;
  width: 140px;
  font-size: 16px;
  background: none;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 300ms 50ms; }
  button:hover {
    color: black;
    background: white;
    transition: all ease-in-out 300ms; }

svg {
  height: 300px;
  width: 300px; }

h1 {
  margin-bottom: 10px;
  font-size: 48px; }

h2 {
  margin-top: 0; }

.center {
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 50%;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: column;
  -ms-flex: column;
  flex: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all ease-in-out 150ms 100ms; }
  .center:hover {
    color: white;
    transition: all ease-in-out 150ms; }

p {
  font-size: 32px;
  text-align: center;
  padding: 10%; }

@media (min-width: 1200px) {
  p {
    padding: 25%; } }

#a {
  top: 0;
  right: 0;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#b {
  top: 0;
  left: 0;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#c {
  bottom: 0;
  left: 0;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#d {
  bottom: 0;
  right: 0;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
